@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/*Dark Theme Added*/
html {
  background-color: #03171f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

h3 {
  color: white;
}

h1 {
  color: white;
}

p {
  color: white;
}

label {
  color: white;
}

span {
  color: white;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* better looking save task buttton */

.btn {
  display: inline-block;
  background: #0079F2;
  color: #FCFCFC;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  transition: background-color 0.2s, transform 0.2s;
}

.btn:hover {
  background-color: #57ABFF;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

/*Animate toggling reminder*/
.task {
  background: rgb(4, 0, 44);
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  transition: border-left 0.2s, left 0.2s;
  border: 0px solid green;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Dark theme for form inputs and changed to input type date */

input[type=text], input[type=date] {
  background-color: rgb(39, 48, 71);
  color: white;
  transition: background-color 0.2s;
  border: none;
}

input[type=text]:focus, input[type=date]:focus {
  outline: none;
  background-color: rgb(57, 70, 104);
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

/*More user friendly checkboxes*/

input[type=checkbox] {
  transition: opacity 0.2s;
}

input[type=checkbox]:hover {
  cursor: pointer;
  opacity: 0.8;
}

input[type=checkbox]:focus {
  outline: none;
}

footer {
  margin-top: 30px;
  text-align: center;
}
